name: Build and Deploy

permissions:
  contents: write

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  EM_VERSION: 3.1.34
  EM_CACHE_FOLDER: "emsdk-cache"

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Sync files
        uses: pressidium/lftp-mirror-action@v1
        with:
          host: ${{ secrets.sftp_host }}
          user: ${{ secrets.sftp_username }}
          pass: ${{ secrets.sftp_password }}
          port: ${{ secrets.sftp_port }}
          localDir: "input/"
          remoteDir: "/cyth/"
