name: Build and Deploy

permissions:
  contents: write

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  EM_VERSION: 3.1.34
  EM_CACHE_FOLDER: "emsdk-cache"

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v11
        with:
          version: ${{env.EM_VERSION}}
          actions-cache-folder: ${{env.EM_CACHE_FOLDER}}

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Build
        run: |
          make -j
          make web -j

      - name: Test
        run: |
          make test

      - name: Upload files
        uses: pressidium/lftp-mirror-action@v1
        with:
          host: ${{ secrets.sftp_host }}
          user: ${{ secrets.sftp_username }}
          pass: ${{ secrets.sftp_password }}
          port: ${{ secrets.sftp_port }}
          localDir: "editor/"
          remoteDir: "/cyth/"
